  <div class="col-lg-6 offset-lg-3">
    <label for="formGroupExampleInput" class="d-flex justify-content-center ">Quote Category</label>
    <input type="text" class="form-control d-flex justify-content-center width-class" id="quote-category">
  </div>
  <div class="col-lg-6 offset-lg-3 d-flex justify-content-center">
    <button type="submit" id="submitButton" class="btn btn-primary mb-2 ">Submit</button>
  </div>
  <script src="/javascript/brainy_quote.js"></script>