<h1>How's it going today?</h1><br>
<form >
<input type="radio" name="choice" value="Happy"> Happy <br>
<input type="radio" name="choice" value="Sad"> Sad <br>
<input type="radio" name="choice" value="Fearful"> Fearful <br>
<input type="radio" name="choice" value="Content"> Content <br>
<input type="radio" name="choice" value="Excited"> Excited <br>
<input type="radio" name="choice" value="Angry"> Angry <br>
<input type="radio" name="choice" value="Peaceful"> Peaceful <br>
</form>
<a id="submitButton" href="/question2" > Answer </a>

<script src="/javascript/question1.js"></script>