<h1>Why are you feeling {{test}}?</h1><br>
<form >
<input type="radio" name="choice" value="Family"> Family <br>
<input type="radio" name="choice" value="Career"> Career <br>
<input type="radio" name="choice" value="Finances"> Finances <br>
<input type="radio" name="choice" value="Spirituality"> Spirituality <br>
<input type="radio" name="choice" value="Relationship"> Relationship <br>
{{!-- <input type="radio" name="choice" value="Fearful"> Angry <br> --}}
</form>
<a id="submitButton" href="/quote" > Answer </a>

<script src="/javascript/question2.js"></script>