    <div class="navbar-nav mr-auto">
      <div class="nav-item active">
        <h1 class="nav-link text-center border-bottom"></h1>
      </div>
   <div>
      <button id="get-me"> GET ME</button>
    </div>
      {{#each quotesData}}
      <div class="nav-item active">
          <div >{{quote}}</div>
        {{!-- <h3 class="nav-link text-center" >{{product_name}}</h3> --}}
       {{!-- <a class="nav-link" href="products-update/{{id}}">{{product_name}}</a>         --}}
      </div>
      {{/each}}
    </div>

    
<script src="/javascript/get_User.js"></script>